<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xx3.lepoox" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainMenuActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Activities.GameActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Activities.GameModeActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Activities.TwoPlayerActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Activities.HostGameActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Activities.JoinGameActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Activities.WonActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Activities.LostActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>
    </application>

</manifest>
